@import "../../../variables";

.search {
  border: 1px solid $gray;
  border-radius: 2.5rem;
  padding: 2px;
  display: flex;
  .search-input {
    border: none;
    outline: none;
    background: $gray;
    padding: .5rem 1rem;
    border-top-left-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;
  }
  .search-button {
    background: lighten($gray, 5%);
    border-left: 2px solid darken($gray, 5%);
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 2.5rem;
    color: $black;
    padding-right: .5rem;
  }
}
