<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-5 py-3">
        <ul class="list-unstyled pb-3">
          <li class="py-1"><a class="text-white" routerLink="/dashboard">Dashboard</a></li>
          <li class="py-1"><a class="text-white" routerLink="/contacts">Contacts</a></li>
          <li class="py-1"><a class="text-white" routerLink="/notifications">Notifications</a></li>
        </ul>
        <span class="text-white">© 2015 Contactify</span>
        <span class="ml-3"><a class="text-white" routerLink="/about">About</a></span>
        <span class="ml-3"><a class="text-white" routerLink="/privacy">Privacy</a></span>
      </div>
      <div class="col-4 dark-tile-wrap">
        <div class="dark-tile">
          <div class="row d-flex align-items-center">
            <div class="col-7">
              <span class="d-block">Last synced:</span>
              <span class="d-block">2015-06-02 14:33:10</span>
            </div>
            <div class="col-5 text-right">
              <a routerLink="/sync" class="text-white">Force sync</a>
            </div>
          </div>
        </div>
        <div class="dark-tile">
          <span class="d-block">Help desk and resolution center available:</span>
          <span class="d-block">I-IV 8:00-18:00, V 8:00-16:45</span>
        </div>
      </div>
      <div class="col-3 py-3">
        <ul class="list-unstyled">
          <li class="py-1"><a class="text-white" routerLink="/groups">Groups</a></li>
          <li class="py-1"><a class="text-white" routerLink="/fc">Frequently contacted</a></li>
          <li class="py-1"><a class="text-white" routerLink="/preferences">Preferences</a></li>
          <li class="py-1"><a class="text-white" routerLink="/logout">Log out</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
