@import "~./variables";
@import "~./bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

$tab-border: 3px solid $primary;

// Containers

body {
  min-height: 100vh;
  background: $gradient-bg;
  color: $white;
  font-family: 'Open Sans', sans-serif;
}

// Tabs

.tab-group {
  box-shadow: $button-shadow;
  border-radius: 2.5rem;
  .tab {
    display: inline-block;
    color: $white;
    background-color: $primary;
    border-top: $tab-border;
    border-bottom: $tab-border;
    text-transform: uppercase;
    padding: .5rem 1rem;
    min-width: 10rem;
    text-align: center;
    font-weight: 600;
    transition: background $transition;
    &:first-child {
      border-left: $tab-border;
      border-top-left-radius: 2.5rem;
      border-bottom-left-radius: 2.5rem;
    }
    &:last-child {
      border-right: $tab-border;
      border-top-right-radius: 2.5rem;
      border-bottom-right-radius: 2.5rem;
    }
    &:hover, &:focus, &:active {
      background-color: darken($primary, 5%);
      text-decoration: none;
      outline: none;
    }
    &.active {
      background-color: $primary-fade;
    }
  }
}

// Card

.card {
  background: $white;
  border-radius: .5rem;
  box-shadow: 0 5px 0px 0px $quarter-dark;
  color: $black;
}

// Custom column size

.col.col-2p {
  max-width: 300px;
}

// Checkbox

.cbx {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0,0,0);
    &:first-child {
      background: $gray;
      position: relative;
      width: 18px;
      height: 18px;
      border-radius: 3px;
      transform: scale(1);
      vertical-align: middle;
      border: 2px solid $black;
      box-shadow: 0 0 0 1px $gray;
      transition: all .2s ease;
      svg {
        position: absolute;
        top: 3px;
        left: 2px;
        fill: none;
        stroke: #FFFFFF;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 16px;
        stroke-dashoffset: 16px;
        transition: all .3s ease;
        transition-delay: .1s;
        transform: translate3d(0,0,0);
      }
      &:before {
        content: "";
        width: 100%;
        height: 100%;
        background: $secondary;
        display: block;
        transform: scale(0);
        opacity: 1;
        border-radius: 50%;
      }
    }
    &:last-child {
      padding-left: 8px;
    }
  }
  &:hover span:first-child {
    border-color: $secondary;
  }
}

.inp-cbx:checked + .cbx {
  span {
    &:first-child {
      background: $secondary;
      border-color: $secondary;
      animation: wave .4s ease;
      svg {
        stroke-dashoffset: 0;
      }
      &:before {
        transform: scale(3.5);
        opacity: 0;
        transition: all .6s ease;
      }
    }
  }
}

@keyframes wave {
  50% {
    transform: scale(.9);
  }
}

// Button outline

.btn-outline {
  cursor: pointer;
  outline: none;
  border: 2px solid rgba(190, 189, 179, .5);
  background: none;
  color: $white;
  padding: .5rem 1.5rem;
  border-radius: 2rem;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
